#in{
		position: relative;
		background: #1877f2;
		box-shadow: 2px 0px 3px 0px black;
		border: 2px;
		width: 400px;
		height: 300px;
		border-radius: 10px;



	}
#in{
	margin-top: 300px;
	margin-left: 1cm;
}
#in input[type="text"]{
	width: 200px;
	height: 30px;
}
label{
	font-size: 20px;
}
input:invalid{
	animation: shake 300ms;
	color: red;
	font-size: 15px;
}
@keyframes shake{
	25%{
		transform: translate(4px);
	}
	50%{
		transform: translate(-4px);
	}
	75%{
		transform: translate(4px);
	}
}
